
    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
      <div class="au-xs-ta-center au-lg-ta-left">
        <ul class="rk-menu rk-categories-menu">
          <li class="rk-menu__item"><a  href="https://dtt-ecys.org" target="_blank" class="rk-menu__link">Ciencias y Sistemas</a>
          </li>
          <li class="rk-menu__item"><a href="https://civil.ingenieria.usac.edu.gt/home/" target="_blank" class="rk-menu__link">Civil</a>
          </li>
          <li class="rk-menu__item"><a href="equimica.ingenieria.usac.edu.gt/index.php" target="_blank" class="rk-menu__link">Quimica</a>
          </li>
          <li class="rk-menu__item"><a href="https://emecanica.ingenieria.usac.edu.gt/sitio/"  target="_blank"class="rk-menu__link">Mecanica</a>
          </li>
          <li class="rk-menu__item"><a href="https://agroindustrial.ingenieria.usac.edu.gt//"  target="_blank" class="rk-menu__link">Industrias</a>
          </li>
          <li class="rk-menu__item"><a href="https://emi.ingenieria.usac.edu.gt/" target="_blank" class="rk-menu__link">Mecanica Industrial</a>
          </li>
          <li class=" rk-menu__item"><a  href="https://eime.ingenieria.usac.edu.gt/" target="_blank" class="rk-menu__link">Mecanica Electrica</a>
          </li>
        </ul>
      </div>
      <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4"><a class="rk-item ae-masonry__item"><img src="assets\img\logo-ecys-fiusac-min.png" alt="">
          <div class="item-meta">
            <h2>Sistemas</h2>
            <p>Explicacion</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets\img\índice.jpg" alt="">
          <div class="item-meta">
            <h2>Pickled Tousled</h2>
            <p>Art Direction</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets\img\agro.jpg" alt="">
          <div class="item-meta">
            <h2>Waistcoat vegan</h2>
            <p>Graphic Design</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-4.jpg" alt="">
          <div class="item-meta">
            <h2>Tumblr hammock</h2>
            <p>Packaging</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-5.jpg" alt="">
          <div class="item-meta">
            <h2>Biodiesel etsy</h2>
            <p>Branding</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-6.jpg" alt="">
          <div class="item-meta">
            <h2>Gentrify artisan</h2>
            <p>Graphic Design</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-7.jpg" alt="">
          <div class="item-meta">
            <h2>Plaid austin</h2>
            <p>Graphic Design</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-8.jpg" alt="">
          <div class="item-meta">
            <h2>Trust fund</h2>
            <p>Packaging</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-9.jpg" alt="">
          <div class="item-meta">
            <h2>Gentrify pork</h2>
            <p>Branding</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-10.jpg" alt="">
          <div class="item-meta">
            <h2>Waistcoat ugh</h2>
            <p>UI/UX</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-11.jpg" alt="">
          <div class="item-meta">
            <h2>Deep v kogi</h2>
            <p>Graphic Design</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-12.jpg" alt="">
          <div class="item-meta">
            <h2>Venmo trust</h2>
            <p>Packaging</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-13.jpg" alt="">
          <div class="item-meta">
            <h2>Venmo trust</h2>
            <p>Ui/UX</p>
          </div></a>
      </div>
    </section>
  