
    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
      <div class="au-xs-ta-center au-lg-ta-left">
        <ul class="rk-menu rk-categories-menu">
          <li class="rk-menu__item"><a  href="https://dtt-ecys.org" target="_blank" class="rk-menu__link">Ingeniería en Ciencias y Sistemas</a>
          </li>
          <li class="rk-menu__item"><a href="https://civil.ingenieria.usac.edu.gt/home/" target="_blank" class="rk-menu__link">Ingeniería Civil</a>
          </li>
          <li class="rk-menu__item"><a href="https://equimica.ingenieria.usac.edu.gt/" target="_blank" class="rk-menu__link">Ingeniería Química</a>
          </li>
          <li class="rk-menu__item"><a href="https://emecanica.ingenieria.usac.edu.gt/sitio/"  target="_blank"class="rk-menu__link">Ingeniería Mecánica</a>
          </li>
          <li class="rk-menu__item"><a href="https://agroindustrial.ingenieria.usac.edu.gt//"  target="_blank" class="rk-menu__link">Ingeniería Industrial</a>
          </li>
          <li class="rk-menu__item"><a href="https://emi.ingenieria.usac.edu.gt/" target="_blank" class="rk-menu__link">Ingeniería Mecánica Industrial</a>
          </li>
          <li class=" rk-menu__item"><a  href="https://eime.ingenieria.usac.edu.gt/" target="_blank" class="rk-menu__link">Ingeniería Mecánica Eléctrica</a>
          </li>
          <li class=" rk-menu__item"><a  href="https://eime.ingenieria.usac.edu.gt/" target="_blank" class="rk-menu__link">Ingeniería Eléctronica</a>
          </li>
          <li class=" rk-menu__item"><a  href="https://eime.ingenieria.usac.edu.gt/" target="_blank" class="rk-menu__link">Ingeniería Eléctrica</a>
          </li>
        </ul>
      </div>
      <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4"><a class="rk-item ae-masonry__item"><img src="assets\img\facultadd.jpg" alt="">
          <div class="item-meta">
            <h2></h2>
            <p></p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets\img\sistemas.png" alt="">
            <div class="item-meta">
            <h2>Ingeniería en Ciencias y Sistemas</h2>
            <p></p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets\img\civiles.png" alt="">
          <div class="item-meta">
            <h2>Ingeniería Civil</h2>
            <p></p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets\img\quimicas.png" alt="">
          <div class="item-meta">
            <h2>Ingeniería Química</h2>
            <p></p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets\img\industrial.png" alt="">
          <div class="item-meta">
            <h2>Ingeniería Mecánica Industrial</h2>
            <p></p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets\img\mecanicaEletrica.png" alt="">
          <div class="item-meta">
            <h2>Ingeniería Mecánica Eléctrica</h2>
            <p></p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets\img\Facultad.png" alt="">
          <div class="item-meta">
          <h2>Ingeniería Mecánica</h2>
          <p></p>
          </div></a>
          
      </div>
    </section>
  