<div class="login-page">
  <h1>Iniciar Sesión</h1>
    <div class="form">
      <form class="register-form">
        <input type="number" placeholder="Registro acádemico o CUI"/>
        <input type="text" placeholder="Nombres"/>
        <input type="text" placeholder="Apellidos"/>
        <input type="email" placeholder="Correo eléctronico"/>
        <input type="password" placeholder="Contraseña"/>
        <button>Crear</button>
        <p class="message">¿Ya estas registrado? <a href="#">Iniciar Sesión</a></p>
      </form>
      <form class="login-form">
        <input type="text" placeholder="Registro acádemico o CUI"/>
        <input type="password" placeholder="Contraseña"/>
        <button>Iniciar Sesión</button>
      </form>
      
      <p class="message">¿No tienes una cuenta?  <a routerLink='/Registro' class="rk-menu__link" >Crear una cuenta</a></p>
    </div>
  </div>