<input type='checkbox' id='form-switch'>
<form id='login-form' action="" method='post'>
  <h1>Iniciar Sesión</h1>
  <input type="text" placeholder="Registro Académico o CUI" required>
  <input type="password" placeholder="Contraseña" required>
  <input type="password" placeholder="Confirmar Contraseña" required>
  <button type='submit'>Iniciar Sesión</button>
  <label for='form-switch'><span>Registro</span></label>
</form>
<form id='register-form' action="" method='post'>
  <h1>Registro</h1>
  <input type="text" placeholder="Registro Académico" required>
  <input type="text" placeholder="Nombres" required>
  <input type="text" placeholder="Apellidos" required>
  <input type="email" placeholder="Correo eléctronico" required>
  <input type="password" placeholder="Contraseña" required>
  <input type="password" placeholder="Confirmar Contraseña" required>
  <button type='submit'>Registro</button>
  <label for='form-switch'>Ya tienes una cuenta? Inicia Sesión</label>
</form>

